#table-1 {
    border: 2px solid blueviolet;
    background-color: wheat;
    width: 100%;
}

#tb-1-th {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid red;
    padding: 2px;
    margin: 10px;
}

#tb-1-ad {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid red;
    padding: 2px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ta-1-td {
    border: 1px solid red;
    padding: 2px;
    margin: 10px;
    text-align: center;
}
#ta-2{
    border: 2px dotted peru;
        background-color: bisque;
        width: 100%;
}

#ta-2-td{
    border: 1px solid rebeccapurple;
        border-collapse:inherit;
        text-align: center;
}
#ta-3{
    border: 2px dashed seagreen;
    background-color: bisque;
    width: 100%;
}
#ta-3-td{
    border: 1px solid brown;
    border-collapse: collapse;
    text-align: center;
}